#main-header {
    height: 60px;
}

#main {
    height: calc(100vh - 60px);
}

#main-overflow {
    overflow-y: auto;
}

/* debug */

.debug #main-header {
    border: 1px dashed black;
}

.debug .col, .col-8, .col-4 {
    border: 1px dashed black;
}