#main-header {
    height: 60px;
}

#main {
    height: calc(100vh - 60px);
}

#main-overflow {
    overflow-y: auto;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.nav-up {
    margin: 0 -16px;
}

.nav-bottom {
    margin: 0 -16px;
}
.col-button nav ul li {
    display: inline-block;
    margin: 0 5px;
}

header {
    padding: 10px;
}

/* debug */

.debug #main-header {
    border: 1px dashed black;
}

